<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/bootadmin.min.css">

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li><a href="users"><i class="fa fa-fw fa-link"></i>Edit Users</a></li>
            <li><a href="roles"><i class="fa fa-fw fa-link"></i>Edit User Roles</a></li>
            <hr style="color: white">
            <li><a href="products"><i class="fa fa-fw fa-link"></i>Edit Products</a></li>
            <li><a href="categories"><i class="fa fa-fw fa-link"></i>Edit Categories</a></li>
        </ul>
    </div>

    <div class="content p-4">
        <h2 class="mb-4">All information</h2>

        <div class="card mb-4">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

</body>
</html>